@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --background-color: #F7F9FB;
    --font-color: #1A1A1A;
    --nav-bar: #CCD2D9;
	--font-web: 1.5rem;
	--font-web-content: 1.3rem;
	--font-tab: 1.1rem;
	--font-tab-content: 0.9rem;
	--font-mobile: 0.8rem;
	--font-mobile-content: 0.6rem;

	--font-footer: 0.8rem;
	--font-footer-content: 0.6rem;
}

* {
	margin: 0;
	padding: 0;
}

body{
    background-color: var(--background-color);
    font-family:"Lora", serif;
    color: var(--font-color);
}

header nav{
	position: fixed;
    display: flex;
    background: var(--nav-bar);
    color: var(--font-color);
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 10%;
	z-index: 1;
}

.logo{
    margin: 1% 1% 1% 1%;
    width: 30%;
}

.menu-nav{
    margin: 1%;
    padding: 0% 5%;
    width: 100%
}

.profile{
    padding: 1% 1% 1% 80%;
    width: 20%;
}

header nav ul {
	display: flex;
	list-style: none;
	width: 80%;
	justify-content: space-between;
}

header nav ul li a {
	text-decoration: none;
    color: var(--font-color);
    font-size: var(--font-web)
}

header nav ul li a:hover {
	color: black;
	text-decoration: none;
}

.menu-toggle {
    display: none;
}

.menu-toggle span {
	display: flex;
	width: 1.5em;
	height: 0.2em;
	background: var(--font-color);
	border-radius: 3px;
	transition: all 1s;
}

.menu-toggle span:nth-child(1) {
	transform-origin: top left;
}

.menu-toggle span:nth-child(3) {
	transform-origin: bottom left;
}

.menu-toggle span:nth-child(1).clicked {
	transform: rotate(45deg);
}

.menu-toggle span:nth-child(2).clicked {
	opacity: 0;
	transform: scale(0)
}

.menu-toggle span:nth-child(3).clicked {
	transform: rotate(-45deg);
}

/* Content */

.content {
    padding-top: 6rem;
    display: flex;
    align-items: center;
}

.cont {
	width: 80%;
}

.cont-img-cont {
	width: 40%;
    margin: 0 10%;
}

.cont-img {
	display: block;
}

.cont-img-hover {
	display: none;
}

.cont-img-cont.has-hover:hover .cont-img {
	display: none;
}

.cont-img-cont.has-hover:hover .cont-img-hover {
	display: block;
}

.cont-desc, .cont-order {
    flex-direction: column;
}

.cont-name1, .cont-name2 {
    font-size: var(--font-web);
}

.cont-desc {
    font-size: var(--font-tab);
}

.cont-order-button {
	width: auto;
	margin: 2% 1%;
}

.cont-order-button.desc, .cont-order-button.asc {
	font-size: var(--font-tab);
	border-radius: 2rem;
	padding: 0.4rem 0.8rem;
}

.cont-order-button.order, .cont-order-button.cart {
	font-size: var(--font-tab);
	border-radius: 2rem;
	padding: 0.5rem 2rem;
}

.more {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: var(--font-web);
	color: var(--font-color);
	font-weight: bold;

	flex-direction: column;
    margin-top: 5%;

	width: 100%;
}

.more-product {
	margin-top: 1%;
	margin-bottom: 2%;
}

.more-image	 {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
}

.more-image img {
	display: block;
	width: 31%;
	padding: 1%;
}

/* Footer */

footer nav {
    display: flex;
    background: var(--nav-bar);
    height: 8rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
	margin-top: 10%;
	padding-top: 2%;
}

.nav-foot-content-header, .footer-text-one {
	font-size: var(--font-tab);
	font-weight: bold;
	color: var(--font-color);
	text-decoration: none;
}

.nav-foot-content, .footer-text-two {
	display: block;
	font-size: var(--font-tab-content);
	color: var(--font-color);
	text-decoration: none;
}

.footer-logo {
	display: flex;
	align-items: center;
	height: 8rem;
    width:100%;
    background: var(--nav-bar);
	justify-content: center;
}

.footer-img {
	width: 10%;
	height: auto;
	margin-right: 3%;
}

.footer-text {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
	header nav{
        height: 3rem;
    }

	.menu-nav {
		padding: 0;
	}

    header nav ul li a {
        font-size: var(--font-tab);
    }

	/* Content */
	
	.content {
		padding-top: 5rem;
	}

	.cont-img-cont {
		width: 50%;
		margin: 0 10%;
	}

	.cont-img {
		width: 100%;
	}

	.cont-img-cont.has-hover:hover .cont-img-hover {
		width: 100%;
	}

	.cont-name1, .cont-name2 {
		font-size: var(--font-tab);
	}

	.cont-desc {
		font-size: var(--font-mobile);
	}

	.cont-order-button.desc, .cont-order-button.asc {
		font-size: var(--font-mobile);
		padding: 0.3rem 0.6rem;
	}

	.cont-order-button.order, .cont-order-button.cart {
		font-size: var(--font-mobile);
		padding: 0.5rem 1rem;
	}

	.more {
		font-size: var(--font-tab);
	}

	/* Footer  */

	.nav-foot-content-header, .footer-text-one {
		font-size: var(--font-mobile);
	}
	
	.nav-foot-content, .footer-text-two {
		font-size: var(--font-mobile-content);
	}

}


@media screen and (max-width: 576px) {
    .logo{
        width: 20%;
    }

    .profile{
        padding: 1% 1% 1% 1%;
        width: 15%;
    }

	.menu-nav {
		flex-direction: column;
		position: absolute;
		top: 2rem;
		right: 0;
		background-color: var(--nav-bar);
		height: auto;
		z-index: 1;
		transform: translateX(100%);
        transition: 0.5s;
		opacity: 0;
        width: 20%;
		visibility: hidden;
		margin: 0;

		justify-content: center;
		align-items: end;
	}

	header nav{
		display: flex;
		background: var(--nav-bar);
		color: var(--font-color);
		height: 3rem;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	header nav ul li {
        width: 4.5rem;
		font-size: var(--font-mobile);
		margin: 10% 0;
		padding-right: 5%;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		height: 40%;
		justify-content: space-between;
		padding: 0 3%;
		z-index: 2;
	}

	header nav .nav-item:nth-child(3){
		order: -1;
	}

	header nav ul.menu-nav.clicked {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}

	/* Content */
	
	.content {
		padding-top: 5rem;
	}

	.cont-img-cont {
		width: 50%;
		margin: 0 10%;
	}

	.cont-img {
		width: 100%;
	}

	.cont-img-cont.has-hover:hover .cont-img-hover {
		width: 100%;
	}

	.cont-name1, .cont-name2 {
		font-size: var(--font-mobile);
	}

	.cont-desc {
		font-size: var(--font-footer-content);
	}

	.cont-order-button.desc, .cont-order-button.asc {
		font-size: var(--font-footer-content);
		padding: 0.3rem 0.5rem;
	}

	.cont-order-button.order, .cont-order-button.cart {
		font-size: var(--font-footer-content);
		padding: 0.5rem 0.7rem;
	}

	.more {
		font-size: var(--font-mobile);
	}

	/* Footer  */

	.nav-foot-content-header, .footer-text-one {
		font-size: var(--font-footer);
	}
	
	.nav-foot-content, .footer-text-two {
		font-size: var(--font-footer-content);
	}
}


